@import '../../../../styles/colors.scss';

.accountBanner{
        background-color: $yellow;
        padding: 1vw;        
       
        h2{        
            font-size:2vw;
            font-weight: bold;
            color: $light-blue;
            text-shadow: 0 0 3px black,  0 0 8px $green;
            display: inline;
        }        
}