$red: #F1433F;
$dark-red: #d4140f;
$red-opaque: rgba(241, 67, 63, 0.7);
$yellow: #F7E967;
$yellow-opaque: rgba(247, 233, 103, 0.7);
$green: #A9CF54;
$green-opaque: rgba(169, 207, 84, 0.7);
$dark-green: #92bb35;
$darker-green: #4e641c;
$blue: #70B7BA;
$blue-opaque: rgba(112, 183, 186, 0.7);
$dark-blue: #3d4c53;
$link-blue: #0c6568