@import '../../styles/colors.scss';

main.world-page {
    background-color: white;
    #world-map {
        svg {
            fill: $green;
            path:hover {
                fill: $red
            }
        }
    }
}