@import '../../styles/colors.scss';

main.world-page {
    background-color: white;
    #world-map {
        svg {
            fill: $green;
            path:hover {
                fill: $red
            }
        }
    }
    .mapTitle{
        background-color: $blue;
        color: $dark-blue;
        font-size: 190%;
        text-align: center;
        font-weight: bolder;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .mapText{
        background-color: $green;
        font-size:175%;
        float: left;
        padding-top: 1%;
        padding-bottom: 1%;
        font-weight: bold;
        color: $dark-blue;
        text-shadow: 0 0 3px $green,  0 0 4px $dark-blue;
        text-align: center;
    }
}