@import '../../styles/colors.scss';

header {
  #top-header {
    background-color: $light-blue; 
    border-bottom: 8px solid $yellow;
    color: black !important;
    text-decoration: none;
    #logo {
      width: 200px;
    }
    h1 {
      font-size: calc(30px + 2vw);
      letter-spacing: 1px;
    }
  }
  #navlinks {
    background-color: $green; 
    align-items: stretch;
    list-style-type: none;
    column-gap: 5vw;
    li {
      padding: 0;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:has(.active) {
        background-color: $yellow;
        background-clip: inherit;
        border-radius: 15px;
        transition: all 1s ease;
      }
        a {
          color: black;
          font-weight: bold;
          font-size: 18px;
          margin: 0;
          padding: 10px 16px 10px;
      }
    }
  }
}
@media (max-width: 767px) { 
  header #navlinks {
    column-gap: 1vw;
  }
}

//XS View
@media (max-width: 575px) { 
  header {
    h1 {
      text-align: center;
      margin-top: 10px !important;
    }
    #navlinks {
        li {
            width: 75%;
        }
      }
  }
}
