@import '../../styles/colors.scss';

header {
  #top-header {
    background-color: $blue; 
    border-bottom: 8px solid $yellow;
    color: black !important;
    text-decoration: none;
    #logo {
      width: 200px;
    }
    h1 {
      font-size: calc(30px + 2vw);
      letter-spacing: 1px;
    }
  }
  #navlinks {
    background-color: $green; 
    align-items: stretch;
    list-style-type: none;
    column-gap: 5vw;
    li {
      padding: 0;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        display: none;
      }
      &:has(.active) {
        background-color: $yellow;
        color: $green;
        background-clip: inherit;
        border-radius: 15px;
        &.account-link {
          position: relative;
          scale: 100% 210%;
          border-radius: 0;
          background-color: $blue;
          a {
            scale: 100% 50%;
          }
        }
        svg {
          display: inline;
        }
      }
        a {
          white-space: nowrap;
          color: black;
          font-weight: bold;
          margin: 0;
          padding: 10px 16px 10px;
      }
    }
  }
}
@media (max-width: 991px) { 
  header #navlinks {
    column-gap: 1vw;
  }
}

@media (max-width: 767px) { 
  header {
    #top-header {
      h1 {display: none}
    }
    #navlinks {
      li.account-link:has(.active) {
        scale: 100% 150%;
        translate: 0 30%;
        a {
          scale: 100% 70%;
        }
      }
    }
  }
}
//XS View
@media (max-width: 575px) { 
  header {
    h1 {
      text-align: center;
      margin-top: 10px !important;
    }
    #navlinks {
        li {
            width: 75%;
        }
      }
  }
}
