@import '../../styles/colors.scss';

main {
    .banner{
        background-color: $yellow;
        padding: 1vw;    
        
        .explorerImg{
            width: 5vw;
            margin-left: 10vw;
            margin-right: 3vw;
        } 
        .explorerImg2{
            width: 5vw;
            margin-left: 3vw;
        }
       
        h1{        
            font-size:4vw;
            font-weight: bold;
            color: $light-blue;
            text-shadow: 0 0 3px black,  0 0 8px $green;
            display: inline;
        }        
    }
}